VITE_API_URL=http://abbd96e71381249b49e31e0d56c01c4e-969731118.ap-south-1.elb.amazonaws.com:5000
VITE_BOOKING_SERVICE_URL=http://booking-service-elb.ap-south-1.elb.amazonaws.com:4003
VITE_INTERVIEWER_SERVICE_URL=http://interviewer-service-elb.ap-south-1.elb.amazonaws.com:4002
VITE_SUBMISSION_SERVICE_URL=http://submission-service-elb.ap-south-1.elb.amazonaws.com:4004
VITE_EVALUATION_SERVICE_URL=http://evaluation-service-elb.ap-south-1.elb.amazonaws.com:4005
VITE_MESSAGING_URL=http://messaging-service-elb.ap-south-1.elb.amazonaws.com:4006
VITE_PACKAGE_SERVICE_URL=http://package-service-elb.ap-south-1.elb.amazonaws.com:4008
VITE_SIGNALING_URL=http://live-session-service-elb.ap-south-1.elb.amazonaws.com:4007
