MYSQL_DATABASE=hiresphere
MYSQL_ROOT_PASSWORD=rootpass

CLIENT_ORIGIN=http://localhost:3000

PORT=5000
DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=rootpass
DB_NAME=hiresphere
DB_CONNECTION_LIMIT=10

VITE_API_URL=http://localhost:5000
VITE_BOOKING_SERVICE_URL=http://localhost:4003
VITE_MESSAGING_SERVICE_URL=http://localhost:4006
VITE_SIGNALING_URL=http://localhost:4007
VITE_INTERVIEWER_SERVICE_URL=http://localhost:4002
VITE_SUBMISSION_SERVICE_URL=http://localhost:4004
VITE_EVALUATION_SERVICE_URL=http://localhost:4005
VITE_PACKAGE_SERVICE_URL=http://localhost:4008
